@model Prj_Shop_Watch_Online.Models.Brands

@{
    ViewBag.Title = "Thương hiệu";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    string ImagePath = "~/wwwroot/ImageBrands/" + Model.AnhTH;
}

<h2>Thương hiệu</h2>

<h3>Bạn có chắc chắn xoá thương hiệu này?</h3>
<div>
    <h4>@Model.TenTH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenTH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnhTH)
        </dt>

        <dd>
            <img class="img img-thumbnail" src="@Url.Content(ImagePath)" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xoá" class="btn btn-danger" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
