@model Prj_Shop_Watch_Online.Models.Users

@{
    ViewBag.Title = "Tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="h3 mb-2 text-gray-800">Sản phẩm</h1>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h2>Tạo mới</h2>
        <p>Tài khoản</p>
    </div>
    <div class="card-body">
        <div class="row ">
            <div class="col-md-4">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Tài khoản</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-10" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-10" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-10" for="comfirmpass">Xác nhận mật khẩu</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line password" data-val="true" data-val-required="Xác nhận không được để trống" id="comfirmpass" name="comfirmpass" type="password" onchange="confirmpassword()">
                                <span class="field-validation-valid text-danger" data-valmsg-for="comfirmpass" data-valmsg-replace="true"></span>
                                <span class="text-danger"><span id="confirmerror"></span></span>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-10" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-10" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-10" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-10" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.Active)
                                    @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Tạo mới" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }
                @if (ViewBag.thongbao != null)
                {
                    <br />
                    <div class="alert alert-danger text-center" role="alert" style="color:red">@ViewBag.thongbao</div>
                }
            </div>
            <div class="col-md-8">
                <h4>Quyền</h4>
                <p>---Điền thông tin tài khoản và tạo mới để thêm quyền---</p>
                <hr />
                <table class="table table-bordered" width="100%">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>
                                Ứng dụng
                            </th>
                            <th>
                                Quyền
                            </th>                           
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>                           
                            <td></td>
                        </tr>
                    </tbody>
                    <tfoot style="background-color:aquamarine">
                        <tr>
                            <th></th>
                            <th>
                                <input placeholder="tên ứng dụng" type="text"  disabled />
                            </th>
                            <th>
                                <input placeholder="tên quyền" readonly type="text" disabled/>
                            </th>
                            <th><a href="#"><i class="fas fa-plus-circle fa-2x"></i></a></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div>
            @Html.ActionLink("Quay lại", "Index")
        </div>
    </div>
</div>
<script>
    confirmpassword = function () {
        var pass = document.getElementById('Password').value;
        var copass = document.getElementById('comfirmpass').value;
        if (copass != pass) {
            document.getElementById('confirmerror').innerHTML = "Mật khẩu không trùng khớp";
        }
        else {
            document.getElementById('confirmerror').innerHTML = "";
        }
    };
</script>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
