@model IEnumerable<Prj_Shop_Watch_Online.Models.AppList>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AppCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApiDomain)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WebDomain)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AutoLoginUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AppCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApiDomain)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WebDomain)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AutoLoginUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
