@model Prj_Shop_Watch_Online.Models.Orders
@using Prj_Shop_Watch_Online.Models
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    SWODBContext db = new SWODBContext();
    int stt = 1;
    decimal? total = 0;
    var orderDT = db.OrderDetail.Where(s => s.OrderId == Model.Id).ToList();
}

<h1 class="h3 mb-2 text-gray-800">Đơn hàng</h1>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h2>Cập nhật</h2>
        <p>Đơn hàng: @Model.Id</p>
    </div>
    <div class="card-body">
        <div class="row ">
            <div class="col-md-4">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Thông tin khách hàng</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)

                        <div class="form-group">
                            @Html.LabelFor(model => model.OrderDate, htmlAttributes: new { @class = "control-label col-md-10" })
                            <div class="col-md-10">
                                <input name="OrderDate" id="OrderDate" value="@Html.DisplayFor(model => model.OrderDate)" class="form-control" readonly />
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.UserId, "UserId", htmlAttributes: new { @class = "control-label col-md-10" })
                            <div class="col-md-10">
                                @Html.DropDownList("UserId", null,"Tài khoản", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ShipName, htmlAttributes: new { @class = "control-label col-md-10" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ShipName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ShipName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ShipAddress, htmlAttributes: new { @class = "control-label col-md-10" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ShipAddress, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ShipAddress, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ShipEmail, htmlAttributes: new { @class = "control-label col-md-10" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ShipEmail, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ShipEmail, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ShipPhoneNumber, htmlAttributes: new { @class = "control-label col-md-10" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ShipPhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ShipPhoneNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-10" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.Status)
                                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PaymentId, "PaymentId", htmlAttributes: new { @class = "control-label col-md-10" })
                            <div class="col-md-10">
                                @Html.DropDownList("PaymentId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.PaymentId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Lưu" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-8">
                <h4>Đơn hàng</h4>
                <p>---Thêm sản phẩm cho chi tiết đơn hàng---</p>
                <hr />
                <table class="table table-bordered" width="100%">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>
                                Sản phẩm
                            </th>
                            <th>
                                Số lượng
                            </th>
                            <th>
                                Thành tiền
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in orderDT)
                        {
                            total += (decimal)item.Price;
                            <tr>
                                <td>@(stt++)</td>
                                <td>@Html.DisplayFor(model => item.Products.MaSp)</td>
                                <td>
                                    @Html.DisplayFor(model => item.Quantity)
                                </td>
                                <td>@String.Format("{0:C}", item.Price).Replace(",00", "")</td>
                                <td style="width:70px;">
                                    <a href="#" title="Cập nhật" data-toggle="modal" data-target="#editOD-@item.Id"><i class="far fa-edit"></i></a>|
                                    <a href="#" title="Xoá" data-toggle="modal" data-target="#deleteOD-@item.Id"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <div class="modal fade" id="editOD-@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="top:200px;">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Cập nhật số lượng?</h5>
                                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        @using (Html.BeginForm("EditOD", "Orders",new { orderId = Model.Id, id = item.Id}))
                                        {
                                            <div class="modal-body">
                                                <label>@Html.DisplayFor(model => item.Products.MaSp)</label>
                                                <br/>
                                                <label>Số lượng</label>
                                                <input name="quantity" type="number" min="1" max="100" id="quantity" value="@item.Quantity" />                                              
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Huỷ</button>
                                                <button class="btn btn-success" type="submit">Cập nhật</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="deleteOD-@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="top:200px;">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc muốn xoá?</h5>
                                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">Chọn "Xoá" để xoá</div>
                                        <div class="modal-footer">
                                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Huỷ</button>
                                            <a class="btn btn-danger" href="@Url.Action("DeleteOD","Orders", new { id = item.Id, orderId = Model.Id })">Xoá</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </tbody>
                    <tfoot style="background-color:wheat;">
                        <tr>
                            @using (Html.BeginForm("AddOD","Orders", new { orderId = Model.Id}))
                            {
                                <th></th>
                                <th>
                                    @Html.DropDownList("productId", null, "Sản phẩm", new { @class = "form-control" })
                                </th>
                                <th>
                                    <input name="quantity" id="quantity" placeholder="số lượng" class="form-control" type="number" min="1" max="100" required />
                                </th>
                                <th></th>
                                <th><button type="submit" class="btn-primary"><i class="fas fa-plus-circle fa-2x"></i></button></th>
                            }

                        </tr>
                        <tr>
                            <th></th>
                            <th></th>
                            <th class="text-right">Tổng Tiền</th>
                            <th>@String.Format("{0:C}", total).Replace(",00", "")</th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
                <div>
                    @Html.ActionLink("Quay lại", "Index")
                </div>
        </div>    
    </div>
</div>        
        
        @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
