@model IEnumerable<Prj_Shop_Watch_Online.Models.Products>
@using Prj_Shop_Watch_Online.Models;
@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    SWODBContext db = new SWODBContext();
}

<h2>Sản phẩm</h2>

<div class="text-right">
    <a href="@Url.Action("Create","Products")" title="Tạo mới"><i class="fas fa-plus-circle fa-2x"></i></a>
</div>
<div class="row" style="margin:5px auto 20px;">
    @using (Html.BeginForm("Index", "Products", FormMethod.Get))
    {
        <input id="keyword" name="keyword" placeholder="Tìm thương hiệu" style="height:38px;border:1px solid blue; border-radius:8px;" />
        <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
    }

</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Brands.TenTH)
        </th>
        <th>
            Ảnh Sản phẩm
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaSp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenSp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiDH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KieuDH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var anh = db.ProductImage.Where(s => s.ProductId == item.Id).Select(s => s).ToList();
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brands.TenTH)
            </td>
            <td>
                @foreach (var obj in anh)
                {
                    if (obj.IsDefault == true)
                    {
                        string ImagePath = "~/wwwroot/ImageProducts/" + obj.ImagePath;
                        <img src="@Url.Content(ImagePath)" class="img img-thumbnail" width="200" height="400" alt="@obj.Caption" title="@obj.Caption" />
                    }

                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaSp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSp)
            </td>
            <td>
                @String.Format("{0:C}", item.Gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiDH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KieuDH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }) |
                <a href="@Url.Action("Edit","Products", new { id = item.Id })" title="Cập nhật"><i class="far fa-edit"></i></a>|
                <a href="@Url.Action("Xoá","Product", new { id = item.Id })" title="Xoá"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
    }

</table>
